.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.addButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.addAdminButton {
    text-decoration: none;
}

.admin-table,
.user-table {
    border: 5px solid white;
}

th,
td {
    padding: 10px;
    text-align: left;
}

tbody {
    color: white;
}

tbody tr:hover {
    background-color: lightskyblue;
    color: white;
}