.announcement-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins-Regular';
}

.announcement-box {
    background-color: rgb(59, 159, 192);
    border: 5px solid rgb(25, 118, 210);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: fit-content;
    color: white;
    white-space: normal;
}

.announcement-box h2 {
    margin-bottom: 8px;
    font-size: 18px;
}

.description {
    font-size: 14px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.announcement-box button {
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 2vh 0 2vh 0;
}

.announcement-box button:hover {
    background-color: #0056b3;
}

.edit-container {
    margin-top: 8;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
}

.tt {
    font-family: 'Poppins-Regular';
}