@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'), url(./fonts/Poppins-Regular.ttf) format('truetype');
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.AppBar {
  background-color: darkblue;
  width: 100%;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.AppBar a {
  color: inherit;
  text-decoration: none;
  margin-right: 16px;
  font-family: poppins-regular;
}

.AppBar a:hover {
  color: lightblue;
}

.AppBar button {
  color: inherit;
  margin-left: 12px;
}

.AppBar button:hover {
  color: lightblue;
}

/* CSS styles for the announcement box */
.announcement-box {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.announcement-box h2 {
  margin-bottom: 8px;
  font-size: 18px;
}

.announcement-box p {
  font-size: 14px;
}

.announcement-box button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.announcement-box button:hover {
  background-color: #0056b3;
}

.tabs {
  padding: 10px;
  border: 10px solid lightblue;
  border-radius: 10px;
  color: white;
}