.main {
    color: white;
}

.tabs {
    padding: 10px;
    border: 2px solid lightblue;
    border-radius: 20px;
    color: white;
}

.AppBar {
    margin: 20px auto 20px auto;
    max-width: 1080px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: var(--toolbar-color);
}

.input-fields {
    padding: 10px;
    border: 2px solid pink;
    border-radius: 5px;
    display: inline-block;
}

.acc-pic {
    border: 2px solid pink;
    border-radius: 5px;
    left: 10px;
    height: 150px;
    width: 200px;
    float: left;
    margin-right: 20px;
}

.for-pass {
    float: right;
}

.hyper-links {
    margin: 10px;
}

.side-link a {
    text-decoration: none;
    color: white;
}

.side-div {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.side-bar {
    border: 2px solid white;
    border-radius: 10px;
    height: max-content;
    width: max-content;
    background-color: rgb(25, 118, 210)
}

.container-outer {
    /* display: flex; */
    /* position: relative; */
    /* left: calc(100vw - 78vw); */
}

.container-inner {
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    width: max-content;
}

.main-content {
    display: flex;
    justify-content: center;
}