.main {
    color: white;
}

.tabs {
    padding: 10px;
    border: 2px solid lightblue;
    border-radius: 20px;
    color: white;
}

.AppBar {
    margin: 20px auto 20px auto;
    max-width: 1080px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: var(--toolbar-color);
}

.input-fields {
    padding: 10px;
    border: 2px solid pink;
    border-radius: 5px;
    display: inline-block;
}


.main-content {
    display: flex;
    justify-content: center;
}

.hyper-links {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.hyper-links.admins {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 20px;
    right: 20px;

    border: 2px solid white;
    border-radius: 20px;
}

.admin-link {
    text-decoration: none;
    color: white;
}